@CHARSET "UTF-8";
#a {
    font-size: 20px;
    font-style: italic;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.tbl-header{
	width: 80%;
    background-color: rgba(255,255,255,0.3);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255,255,255,0.3);
}

.tbl-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255,255,255,0.3);
}
.tbl-content #but {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #30a8e2;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all ease;
    transition: all ease;
    cursor: pointer;
}
th{
    padding: 20px 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
td{
    padding: 20px 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form #button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1d58ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all ease;
    transition: all ease;
    cursor: pointer;
}

.form #button:hover, .form #button:active, .form #button:focus {
    background: #357aff;
}

body {
    background: #356ab8; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #356ab8, #30a8e2);
    background: -moz-linear-gradient(right, #356ab8, #30a8e2);
    background: -o-linear-gradient(right, #356ab8, #30a8e2);
    background: linear-gradient(to left, #356ab8, #30a8e2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.radio {
    margin: 0.5rem;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

select {
    background-color: #f4f4f4;
    background-size: 12px 12px;
    padding:12px;
    width:auto;
    font-family:arial,tahoma;
    font-size:12px;
    color: #6a6a6a;
    text-align:center;
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border:0;
    outline:0;

}

#blue {
    background-color:#f4f4f4;
}

#blue:hover {
    background-color:#f4f4f4;
}